/*CSS for logo*/

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
}

/* CSS for the navigation bar */
.nav {
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin: auto;
  padding: auto;
}

.nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 50px;
  
}

.nav ul li {
  display: inline;
  margin-right: 50px;
  height: 100%;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  text-decoration: underline;
}

/*CSS for Footer*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  color: #fff;
  text-align: center;
  font-size: 12px;
  backdrop-filter: blur(30px);
}

/*CSS for home page*/

.home-body {
  background-image: url('background1.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  backdrop-filter: blur(30px);
  width: 100%;
  margin: 0px;
}

.home-container {
  position: relative;
  min-height: 100vh;
  font-size: 40px;

}

.home-header h1 {
  padding-top: 12%;
  text-align: center;
  color: #fff;
}

.home-content p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.linktoabout {
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 30px;
}

/*CSS for about page*/
.about-body {
  background-image: url('background1.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  backdrop-filter: blur(30px);
  width: 100%;
  margin: 0px;
}

.about-container {
  position: relative;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  font-size: 40px;

}

.about-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  color: #fff;
}


/*CSS for Projects page*/
.projects-header {
  color: #fff;
  padding-bottom: 30px;
  text-align: center;
  font-size: 24px;
}

.projects-body {
  background-image: url('background1.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  backdrop-filter: blur(30px);
  width: 100%;
  margin: 0px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
}

.project {
  text-align: center;
  padding-bottom: 300px;
  color: #fff;
}

.project img {
  max-width: 100%;
  height: auto;
}

.project h2 {
  margin-top: 10px;
}

.project p {
  margin-top: 10px;
}




/*CSS for Serives page*/
.services-body {
  background-image: url('background1.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  backdrop-filter: blur(30px);
  width: 100%;
  margin: 0px;
}

.services-container {
  position: relative;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  font-size: 40px;

}

.services-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  color: #fff;
}


/*CSS for Contact page*/

.contact-body {
  background-image: url('background1.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  backdrop-filter: blur(30px);
  width: 100%;
  margin: 0px;
}

.contact-container {
  position: relative;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  font-size: 40px;

}

.contact-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  color: #fff;
}

/* Basic styling for the form container */
.form {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 30px;
}




