<!-- Portfolio Kayleigh Rodgers, 301187753 Due Oct 2 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body class="about-body">
    <div class="about-container">

        <div class="about-content">
            <div class="image-container">
                <img src="/images/logo1.jpg" alt="logo" class="logo">
            </div>
            <%- include('partials/header.ejs') %>
            <main>
                <section class="about">
                    <h1>Kayleigh Rodgers</h1>
        
                    <img src="/images/me.jpg" alt="Kayleigh">
        
                    <p>I am a passionate software engineering technology student here at centennial college. I work a part time job at a marina. In my spare time i love hiking, camping, cooking, working out, and playing video games.</p>
        
                    <img src="/images/resume.jpg" alt="resume">
                </section>
            </main>
        </div>

        <%- include('partials/footer.ejs') %>

    </div>
</body>
</html>