<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
      <%- include('partials/header.ejs') %>

    <header>
        <h1>Welcome to My Portfolio</h1>
        <p>This is the home page of my portfolio website.</p>
    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2023 Kayleigh Rodgers</p>
    </footer>
</body>
</html>
